# Local Site Directories
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby Gems
.bundle
Gemfile.lock

# Log Files
*.log
.vs/slnx.sqlite
.vs/slnx.sqlite
.vs/slnx.sqlite
.vs/slnx.sqlite-journal
.vs/slnx.sqlite
